<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="sqlcon1" connectionString="Data Source=127.0.0.1; Initial Catalog=WebIM; Integrated Security=True"></add>
  </connectionStrings>
</configuration>